
#img-div {
    padding: 10px;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

#image {
    max-width: 825px;
    display: block;
    width: 45%;
    margin: auto;
    height: auto;
}

#img-caption {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    padding: 0 auto;
    font-size: 20px;
}

html,
body {
    font-size: 20px;
    background-color: #ffffffdc;
    font-family: 'Raleway', sans-serif;
    max-width: auto;
}

.upper {
    
    width: 100%;
    padding: 0 auto;
}

h1 {
    text-align: center;
    margin: 7px;
}
  
p {
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
}

#tribute-info {
    text-align: center;
    
}

h3 {
    margin: 50px 0;
    text-align: center;
}

#timeline {
    text-align: left;
    padding-left: 35%;
    padding-right: 35%;
}

blockquote {
    padding-left: 35%;
    padding-right: 35%;
}

blockquote p {
    font-size: 25px;
}
